* {
    box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */
}

/* Homeを非表示にする */
.hide-mobile {
    display: none;
}

/* body要素のスタイル */
body {
    background-color: #FFFBF3; /* 背景色の設定 */
    margin: 0; /* 余白を0にする */
    font-family: 'Inter'; /* フォントの指定 */
}

/* .wrapクラスのスタイル */
.wrap {
    margin: 2em; /* 外側の余白を設定 */
}

/* .headerクラスのスタイル */
header {
    display: flex; /* フレックスボックスを使う */
    justify-content: space-between; /* 子要素を左右に分散配置 */
}

/* nav要素内のul要素のスタイル */
nav ul {
    background: white; /* 背景色を白に設定 */
    position: fixed; /* 位置を固定 */
    z-index: 999; /* 重なり順を最前面に設定 */
    top: 0; /* 上端に配置 */
    right: 0; /* 右端に配置 */
    height: 100vh; /* 高さを100%に設定 */
    margin: 0; /* 余白を0にする */
    list-style: none; /* リストのマーカーを非表示にする */
    width: 40%; /* 幅を40%に設定 */
    text-align: right; /* テキストを右寄せに設定 */
    padding: 2em; /* 内側の余白を設定 */
    transform: translateX(100%); /* X軸方向に移動 */
    transition: transform 0.5s ease-in-out; /* サブメニューのアニメーションの設定 */

    /* ハンバーガーメニューを開いたときのスタイル */
    li {
        margin: 2em 0; /* 上下の余白を設定 */

        &:nth-last-of-type(1) { /* 最後の要素に対して */
            margin-bottom: 2em; /* 下側の余白を設定 */
        }

        /* a要素のスタイル */
        a{
            color: black; /* テキストの色を黒に設定 */
            text-decoration: none; /* 下線を非表示にする */
            font-weight: bold; /* フォントの太さを太字にする */
            font-size: 1.5rem; /* フォントサイズを1.5remに設定 */

            &:hover{ /* ホバー時のスタイル */
                text-decoration: underline; /* 下線を表示 */
            }
        }   
    }
}

.open {
    transform: translateX(0%); /* X軸方向に移動 */
}

/* .menuクラスのスタイル */
h1, p {
    text-align: center; /* テキストを中央に配置 */ 
}

h1 {
    margin-top: 3em; /* 上側の余白を設定 */

    img {
        display: block; /* 画像をブロック要素にする */
        margin: 0 auto; /* 画像を中央に配置 */
    }
}

p {
    font-size: 1.2rem; /* フォントサイズを1.2remに設定 */
    line-height: 1.5; /* 行間を1.5に設定 */
}

/* .primary-ctaクラスのスタイル */
.primary-cta {
    background: #FFA800; /* 背景色をオレンジに設定 */
    padding: 1em; /* 内側の余白を設定 */
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */
    display: block; /* ブロック要素として表示 */
    text-align: center; /* テキストを中央に配置 */
    text-decoration: none; /* 下線を非表示にする */
    font-weight: bold; /* フォントの太さを太字にする */
    font-size: 1.3rem; /* フォントサイズを1.3remに設定 */
    color: black; /* テキストの色を黒に設定 */
    border-radius: .3em; /* 角を0.3emの半径で丸く設定 */
}

.cat-container {
    position: relative; /* 相対位置に配置 */
    height: 500px; /* 高さを500pxに設定 */
    width: 100%; /* 幅を100%に設定 */
    margin-top: 3em; /* 上側の余白を設定 */

    img {
        width: 70%; /* 画像の幅を70%に設定 */
        position: absolute; /* 絶対位置に配置 */
        left: 50%; /* 左端を50%に設定 */
        transform: translate(-50%); /* X軸方向に移動して中央揃えに配置 */

    }

    .inner-circle, .outer-circle {
        position: absolute; /* 絶対位置に配置 */
        border-radius: 50%; /* 角を50%の半径で丸く設定 */
        left: 50%; /* 左端を50%に設定 */
        top: 50%; /* 上端を50%に設定 */
        transform: translate(-50%, -50%); /* X軸方向とY軸方向に移動して中央揃えに配置 */
    }

    .inner-circle {
        background: #FFEBC3; /* 背景色を黄色に設定 */
        border-radius: 50%; /* 角を50%の半径で丸く設定 */
        width: 300px; /* 幅を300pxに設定 */
        height: 300px; /* 高さを300pxに設定 */
        z-index: -1; /* 重なり順を最背面に設定 */
    }

    .outer-circle {
        background: white; /* 背景色を黄色に設定 */
        border-radius: 50%; /* 角を50%の半径で丸く設定 */
        width: 500px; /* 幅を500pxに設定 */
        height: 500px; /* 高さを500pxに設定 */
        z-index: -2; /* 重なり順を最背面に設定 */
    }
}
